<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat UI</title>
    <link rel="stylesheet" type="text/css" href="{% url 'dynamic_css' partner=partner_name %}">

</head>

<body>
    <div class="chat-container" style="height: 100%;">
        <div class="chat-header" style="background-color:'{{ customer.color_code }}';">
            <span class="back-button">
                <img src="{{ customer.logo_url }}" alt="Logo">
            </span>
            {{ customer.company_name }}
            <div class="status">Verfügbar</div>
        </div>
        <div class="chat-messages" id="chatMessages">
            <div class="message received">
                <div class="text">Hi, ich bin der virtuelle Assistent von {{ customer.company_name }} 😁. Wie kann ich Ihnen helfen ?</div>
            </div>
            <!-- Das Kontaktformular ist zu Beginn nicht im DOM -->
        </div>
    </div>

    <div class="chat-input">
        <input type="text" id="messageInput" placeholder="Fragen Sie etwas...">
        <button type="button" onclick="sendMessage()">Senden</button>
    </div>

    <script>
        var id_count = 0;
        var uid = "";
        var chatbotResponses = 0;

        function sendPersonalData() {
            var name = document.getElementById("chatbot_user_name").value;
            var email = document.getElementById("chatbot_user_email").value;

            if (name.trim() !== "" && email.trim() !== "") {
                // Prepare and send the request
                let token = "{{ csrf_token }}";
                let formedData = new FormData();
                formedData.append("name", name);
                formedData.append("email", email);
                formedData.append("uid", uid);

                fetch("saveuserdata/", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': token,
                    },
                    body: formedData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Show thank you message
                        const chatMessages = document.getElementById("chatMessages");
                        const thankYouMessageElement = document.createElement("div");
                        thankYouMessageElement.classList.add("message", "received");
                        thankYouMessageElement.innerHTML = '<div class="text">Vielen Dank ! Es wird sich zeitnah jemand bei Ihnen melden. Wenn ich Ihnen sonst noch behilflich sein kann, fragen Sie gerne weiter.</div>';
                        chatMessages.appendChild(thankYouMessageElement);
                        chatMessages.scrollTop = chatMessages.scrollHeight;
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
            }
        }

        function sendMessage() {
            var messageInput = document.getElementById("messageInput");
            var message = messageInput.value;
            if (message.trim() !== "") {
                const chatMessages = document.getElementById("chatMessages");
                const messageId = id_count; // Store the current id_count for the new message

                // Create and append user message element
                const userMessageElement = createMessageElement(message, "sent");
                chatMessages.appendChild(userMessageElement);

                // Create and append loading message element
                const assistantMessageElement = createMessageElement("...", "received", "loading_message" + messageId);
                chatMessages.appendChild(assistantMessageElement);
                chatMessages.scrollTop = chatMessages.scrollHeight;

                messageInput.value = "";

                // Prepare and send the request
                let token = "{{ csrf_token }}";
                let formedData = new FormData();
                formedData.append("message", message);
                formedData.append("uid", uid);
                formedData.append("chatbotResponses",chatbotResponses);

                fetch("sendmessage/", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': token,
                    },
                    body: formedData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.uid) {
                        uid = data.uid;
                        console.log(uid);
                    }
                    if (data.answer_chat_assistant) {
                        // Update the correct loading message element
                        const loadingMessageElement = document.getElementById("loading_message" + messageId);
                        if (loadingMessageElement) {
                            loadingMessageElement.innerHTML = createMessageElement(data.answer_chat_assistant, "received").innerHTML;
                            loadingMessageElement.removeAttribute("id"); // Remove id after updating
                            chatMessages.scrollTop = chatMessages.scrollHeight;
                        }
                        
                        chatbotResponses++;
                        if (chatbotResponses == 2) {
                            addContactForm();
                        }
                    }
                    id_count++; // Increment the id_count for the next message
                })
                .catch(error => {
                    console.error("Error:", error);
                    // Optionally update the loading message with an error message
                    const loadingMessageElement = document.getElementById("loading_message" + messageId);
                    if (loadingMessageElement) {
                        loadingMessageElement.innerHTML = "Fehler bei der Verarbeitung der Anfrage";
                        loadingMessageElement.removeAttribute("id"); // Remove id after updating
                    }
                });
            }
        }

        function createMessageElement(text, type, id = null) {
            var messageElement = document.createElement("div");
            if (id) {
                messageElement.id = id; // Set the provided ID
            }
            messageElement.classList.add("message", type);

            var textElement = document.createElement("div");
            textElement.classList.add("text");
            if (text === "...") {
                textElement.classList.add("loading-dots");
                textElement.innerHTML = '<span>.</span><span>.</span><span>.</span>';
            } else {
                textElement.innerHTML = text;
            }

            messageElement.appendChild(textElement);
            return messageElement;
        }

        function addContactForm() {
            const chatMessages = document.getElementById("chatMessages");
            const contactFormElement = document.createElement("div");
            contactFormElement.classList.add("message", "received");
            contactFormElement.innerHTML = `
                <div class="text form-container">
                    Wenn Sie möchten, kontaktieren wir Sie gerne persönlich und geben Ihnen weitere Informationen:
                    <form style="margin-top: 15px;">
                        <label for="chatbot_user_name">Vor und Nachname</label>
                        <input type="text" id="chatbot_user_name" name="chatbot_user_name" required>
                        <label for="chatbot_user_email">Email-adresse</label>
                        <input type="email" id="chatbot_user_email" name="chatbot_user_email" required>
                    </form>
                    <div class="chat-input">
                        <button type="button" onclick="sendPersonalData()">Bestätigen</button>
                    </div>
                </div>
            `;
            chatMessages.appendChild(contactFormElement);
            chatMessages.scrollTop = chatMessages.scrollHeight;
        }
    </script>
</body>
