<div id="chatbot-container">
    <meta name="csrf-token-greatbot-ai" content="{ csrf_token }">
    <meta name="company-name-greatbot-ai" content="laxout">
    <link rel="stylesheet" type="text/css" href="greatbot.eu.pythonanywhere.com/api/laxout/dynamic-css/">
    <div id="chatbot">
        <div id="chatbot-button" onclick="toggleChat()">GB</div>
        <div id="chatbot-window">
            <div class="chat-header">
                <button class="back-button" onclick="toggleChat()">X</button>
                Chat Assistant
            </div>
            <div class="chat-messages" id="chatMessages">
                <div class="message received">
                    <div class="text">
                        <h4>Hey, Herzlich willkommen!</h4>
                        Ich bin Greatbot und beantworte Ihnen gerne alle Fragen zu unseren Leistungen und unserem
                        Unternehmen laxout - wie kann ich Ihnen helfen?
                    </div>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" id="messageInput" placeholder="Fragen Sie etwas...">
                <button onclick="sendMessage()">Senden</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="greatbot.eu.pythonanywhere.com/api/laxout/dynamic-js/"></script>
</div> 